/*ブラウザがそれぞれ持っているCSSをリセットするための記述*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  width: 100%; /*横幅:100%*/
  height: 50px; /*高さ:50px*/
  background-color: #ff9a4b; /*背景色： #FF9A4B*/
}

main {
  width: 960px; /* 横幅960px */
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 要素の中央揃え */
  padding: 50px 0; /* 上下に50px、左右に0pxの内側余白 */
}

.box{
  width: 290px;/* 横幅290px */
  background-color: #EEEEEE;/*背景色： #EEEEEE*/
  margin:  0 30px;/* 上下に0px、左右に30pxの外側余白 */
}

.image1 {
  width: 290px; /*横幅:290px*/
  height: 150px; /*高さ:150px*/
  margin: 10px 10px; /* 上下に10px、左右に10pxの外側余白 */
  background-image: url(img/flow01.png);
  background-size: cover; /*縦横比をいじしたまま背景領域を埋め尽くす*/
  background-position: center; /*背景画像を中央に配置*/
}

.image2 {
  width: 290px; /*横幅:290px*/
  height: 150px; /*高さ:150px*/
  margin: 10px 10px; /* 上下に10px、左右に10pxの外側余白 */
  background-image: url(img/flow02.png);
  background-size: cover; /*縦横比をいじしたまま背景領域を埋め尽くす*/
  background-position: center; /*背景画像を中央に配置*/
}

.box-title{
  margin: 5px 0;/* 上下に5px、左右に0pxの外側余白 */
}

.image3 {
  width: 300px; /*横幅:300px*/
  height: 150px; /*高さ:150px*/
  margin: 10px 10px; /* 上下に10px、左右に10pxの外側余白 */
  background-image: url(img/flow03.png);
  background-size: cover; /*縦横比をいじしたまま背景領域を埋め尽くす*/
  background-position: center; /*背景画像を中央に配置*/y
}

footer {
  width: 100%; /*横幅:100%*/
  height: 50px; /*高さ:50px*/
  background-color: #aaaaaa; /*背景色： #AAAAAA*/
}
